Source: akonadi-calendar-tools
Section: kde
Priority: optional
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Sune Vuorela <sune@debian.org>,
           Fathi Boudra <fabo@debian.org>,
           Modestas Vainius <modax@debian.org>,
           Michael Meskes <meskes@debian.org>,
           George Kiagiadakis <kiagiadakis.george@gmail.com>,
           Eshat Cakar <info@eshat.de>,
           Maximiliano Curia <maxy@debian.org>
Build-Depends: cmake (>= 2.8.12~),
               debhelper (>= 9),
               extra-cmake-modules (>= 5.19.0~),
               libkf5akonadi-dev (>= 4:15.12~),
               libkf5akonadicalendar-dev (>= 15.12~),
               libkf5akonadicontact-dev (>= 4:15.12~),
               libkf5archive-dev (>= 5.19.0~),
               libkf5auth-dev (>= 5.19.0~),
               libkf5calendarcore-dev (>= 4:15.12~),
               libkf5calendarsupport-dev (>= 5.2.0~),
               libkf5calendarutils-dev (>= 15.12~),
               libkf5codecs-dev (>= 5.19.0~),
               libkf5completion-dev (>= 5.16.0~),
               libkf5config-dev (>= 5.19.0~),
               libkf5contacts-dev (>= 15.12~),
               libkf5coreaddons-dev (>= 5.16.0~),
               libkf5dbusaddons-dev (>= 5.19.0~),
               libkf5dnssd-dev (>= 5.19.0~),
               libkf5doctools-dev (>= 5.19.0~),
               libkf5globalaccel-dev (>= 5.19.0~),
               libkf5gravatar-dev (>= 5.2.0~),
               libkf5i18n-dev (>= 5.16.0~),
               libkf5iconthemes-dev (>= 5.16.0~),
               libkf5itemviews-dev (>= 5.16.0~),
               libkf5kcmutils-dev (>= 5.19.0~),
               libkf5kdelibs4support-dev (>= 5.19.0~),
               libkf5khtml-dev (>= 5.16.0~),
               libkf5libkdepim-dev (>= 5.2.0~),
               libkf5mime-dev (>= 15.12~),
               libkf5mimetreeparser-dev,
               libkf5newstuff-dev (>= 5.19.0~),
               libkf5notifyconfig-dev (>= 5.19.0~),
               libkf5service-dev (>= 5.19.0~),
               libkf5sonnet-dev (>= 5.19.0~),
               libkf5templateparser-dev,
               libkf5texteditor-dev (>= 5.19.0~),
               libkf5textwidgets-dev (>= 5.16.0~),
               libkf5wallet-dev (>= 5.19.0~),
               libkf5widgetsaddons-dev (>= 5.16.0~),
               libkf5windowsystem-dev (>= 5.16.0~),
               libkf5xmlgui-dev (>= 5.16.0~),
               libkf5xmlrpcclient-dev (>= 5.2.0~),
               pkg-config,
               pkg-kde-tools (>= 0.12),
               qtbase5-dev (>= 5.5.0~),
               shared-mime-info,
               xsltproc,
               zlib1g-dev
Standards-Version: 3.9.8
Homepage: http://pim.kde.org/
Vcs-Browser: https://anonscm.debian.org/git/pkg-kde/applications/akonadi-calendar-tools.git
Vcs-Git: https://anonscm.debian.org/git/pkg-kde/applications/akonadi-calendar-tools.git

Package: konsolekalendar
Architecture: any
Depends: kdepim-runtime, ${misc:Depends}, ${shlibs:Depends}
Breaks: ${kde-l10n:all}
Replaces: ${kde-l10n:all}
Description: konsole personal organizer
 KonsoleKalendar is a command-line interface to KDE calendars.
 KonsoleKalendar complements KOrganizer by providing a console
 frontend to manage your calendars.
 .
